<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>PokeForum - Edit Entry</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" method="post"
					th:action="@{/addEntry}">
					<fieldset>
						<legend th:text="'New Entry'">New
							Topic</legend>

						<input type="hidden" th:name="topicId" th:value="${topicId}"/>
						<!-- --------------  Entry ---------------- -->
						<div class="form-group">
							<label for="inputEntry" class="col-md-2 control-label">Entry Content
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputEntry" type="text"
									name="entry">
							</div>
						</div>

						<!-- --------------  buttons ---------------- -->
						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a href="index" class="btn btn-default"> Cancel </a>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>