<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Pok&eacute;Forum - Attacks</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="css/global.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>

.header {
	display:block;
	text-align:center;
	margin-bottom: 40px;
}

.title {
	font-size: 40px;
	margin-bottom: 40px;
	display:block;
	text-align:center;
}

.icon {
	float: right;
	display: inline-block;
	margin-top: -26px;
	margin-right: 10px;
	
}

.copyRightText {
	font-size: 16px;
	color: white;
	display: inline-block;
	margin-left: 38%;
	margin-top: 9px;
}

.foot {
	background-color: #47596C;
	height: 40px;
	margin-top: 220px;
}

.tableDesign {
	background: rgba(255,255,255,0.3);
	border: 0px solid #fff;
	border-radius: 10px;
	-webkit-box-shadow: 1px 2px 26px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 26px -5px rgba(0,0,0,0.75);
	-box-shadow:1px 2px 26px -5px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 40px;
}

.swoopRight {
	margin-left: 40px;

}

.modalButton {
	display: block;
	text-align: center;
	margin-top: 80px;
	margin-left: -30px; 
}

.font {
	background-color: rgba(255, 99, 71, 0.5);
	font-size: 24px;
	line-height: 50px;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-right: 15px;
}

.alignError {
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

</style>

</head>
<body>
<!-- ------------------------------------------------------ Menu section ----------------------------------------------------------------------------------- -->

<div class="container">
	<div class="row">
		<div class="col-md-1">
			<nav th:replace="~{includes/sidebar}"></nav>
		</div>
	</div>
<!-- ------------------------------------------------------ Header section ----------------------------------------------------------------------------------- -->

	<div class="row">
		<div class="col-md-12 header">

				<a href="index"><img src="images/PokeForumLogo.png"></a>

			<!--  Error message ----------------------------------------------------------- -->
			<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
				class="alert alert-danger" role="alert"></div>
			<!--  Error message ----------------------------------------------------------- -->
	
			<!--  Warning message ----------------------------------------------------------- -->
			<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
				class="alert alert-warning" role="warning"></div>
			<!--  Warning message ----------------------------------------------------------- -->
	
			<!--   message ----------------------------------------------------------- -->
			<div th:unless="${message} == null" th:utext="${message}"
				class="alert alert-success" role="warning"></div>
			<!--   message ----------------------------------------------------------- -->
		</div>
	</div>
</div>	
<!-- ------------------------------------------------ Main Content: the attack calculator ----------------------------------------------------------------------------------- -->

<div class="container tableDesign">
	<div class="title">Attack Calculator</div>
	<div class="row">
			<!-- if a user has no pokemon in their team they can't use the calculator -->
		<div th:unless="${yourPokemons.size() > 0}" class="alignError"> <b class ="font">Add Pokemon to your Team to use the calculator (Profile -> addPokemon) </b></div>
		<div class="col-md-12">
	<!-- -------------------------------Form for the calculator ----------------------------------------------------------------------------------- -->
	
			<form class="form-horizontal" method="post" th:action="@{/calculate}" th:if="${yourPokemons.size() > 0}" >
					<fieldset>
					<!-- -------------------------------Form for the users pokemon: displays the name of your pokemon, the level can be chosen as well as the attack ----------------------------------------------------------------------------------- -->
					<div class="col-md-5 swoopRight">
					
						<!-- --------------  Your Pokemon ---------------- -->
						<div class="form-group">
							<label for="inputYourPokemon" class="col-md-2 control-label">Your Pokemon</label>
							<div class="col-md-10">
								<select name="yourPokemon" id="yourPokemon" class="form-control">
									  <option th:each="yourPokemon : ${yourPokemons}" th:value="${yourPokemon.id}" th:text="${yourPokemon.name != '' ? yourPokemon.name : yourPokemon.species}" th:selected="${lastChosen != null && lastChosen.id == yourPokemon.id}"></option>
								</select>
							</div>
						</div>
					
						<!-- --------------  Your Level ---------------- -->
						<div class="form-group">
							<label for="inputYourLevel" class="col-md-2 control-label">Your Level</label>
								<div class="col-md-10">
							
								<input class="form-control" id="inputYourLevel" type="number" 
										name="yourLevel" th:value="${lastChosen} ? ${lastChosen.level}" min="1" max="100" required>
								</div>
						</div>
						
						<!-- --------------  Your Attack ---------------- -->
						<div class="form-group">
							<label for="inputYourAttack" class="col-md-2 control-label">Your Attack</label>
							<div class="col-md-10">
								<select name="yourAttack" id="yourAttack" class="form-control">
									  <option th:each="yourAttack : ${attacks}" th:value="${yourAttack.id}" th:text="${yourAttack.name}" th:selected="${lastAttack != null && lastAttack.id == yourAttack.id}"></option>
								</select>
							</div>
						</div>
					</div>
					<!-- -------------------------------Form for the enemy pokemon: the pokemon as well as the level can be chosen----------------------------------------------------------------------------------- -->
					<div class="col-md-5 col-md-offset-1">
						<!-- --------------  Enemy Pokemon ---------------- -->
						<div class="form-group">
							<label for="inputEnemyPokemon" class="col-md-2 control-label">Enemy Pokemon</label>
							<div class="col-md-10">
								<select name="enemyPokemon" id="enemyPokemon" class="form-control">
									  <option th:each="pokemon : ${pokemons}" th:value="${pokemon.id}" th:text="${pokemon.name}" th:selected="${lastEnemy != null && lastEnemy.id == pokemon.id}"></option>
								</select>
							</div>
						</div>
						
						<!-- --------------  Enemy Level ---------------- -->
						<div class="form-group">
							<label for="inputEnemyLevel" class="col-md-2 control-label">Enemy Level</label>
								<div class="col-md-10">
							
								<input class="form-control" id="inputEnemyLevel" type="number" 
										name="enemyLevel" th:value="${lastEnemyLevel} ? ${lastEnemyLevel}" min="1" max="100" required>
								</div>
						</div>
				</div>
					<!-- -------------- submit button to calculate the attack ---------------- -->
					
					<div class="col-md-10 col-md-offset-2" >
						<button type="submit" class="btn btn-success">Submit</button>
							
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>	

<!-- ---------------------------------------------------------------Footer ----------------------------------------------------------------------------------- -->	
<footer class="footer">
	<div class="row">
		<div class="col-md-12 foot">
			<b class="copyRightText"> Copyright &copy; 2018 Pok&eacute;Forum</b>
			<img class="icon" src="images/schiggy.png">
		</div>
	</div>
</footer>	
<!--  End of container -->
<div th:replace="~{includes/bootstrap :: bootstrapJS}" /></div>
</body>
</html>