<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Pok&eacute;Forum - Sign Up</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

<style>

.picture {
	margin-top: 40px;
}

.header {
	display:block;
	text-align:center;
	margin-bottom: 40px;
}

.icon {
	float: right;
	display: inline-block;
	margin-top: -21px;
	margin-right: 10px;
	
}

.copyRightText {
	font-size: 16px;
	color: white;
	display: inline-block;
	margin-left: 38%;
	margin-top: 9px;
}

.foot {
	margin-top: 80px;
	background-color: #47596C;
	height: 40px;
}

.tableDesign {
	background: rgba(255,255,255,0.3);
	border: 0px solid #fff;
	border-radius: 10px;
	-webkit-box-shadow: 1px 2px 26px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 26px -5px rgba(0,0,0,0.75);
	-box-shadow:1px 2px 26px -5px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 40px;
} 

</style>
</head>

<body>
<div class="container" role="main">
	<div class="row">
		<div class="col-md-1">
			<nav th:replace="~{includes/sidebar}"></nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 header">

				<a href="index"><img src="images/PokeForumLogo.png"></a>

			<!--  Error message ----------------------------------------------------------- -->
			<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
				class="alert alert-danger col-md-offset-1" role="alert"></div>
			<!--  Error message ----------------------------------------------------------- -->
	
			<!--  Warning message ----------------------------------------------------------- -->
			<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
				class="alert alert-warning col-md-offset-1" role="warning"></div>
			<!--  Warning message ----------------------------------------------------------- -->
	
			<!--   message ----------------------------------------------------------- -->
			<div th:unless="${message} == null" th:utext="${message}"
				class="alert alert-success col-md-offset-1" role="warning"></div>
			<!--   message ----------------------------------------------------------- -->
		</div>
	</div>
</div>

<div class="container tableDesign">
	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<form class="form-horizontal" method="post" th:action="@{/editUser}">
				<fieldset>
				<legend>Edit Your User Profile</legend>
					<!-- --------------  username ---------------- -->
					<div class="form-group">
						<label for="inputUserName" class="col-md-2 control-label">User Name</label>
						<div class="col-md-10">
							<input class="form-control" id="userName" type="text" required name="userName" th:value="${user.userName}" th:readonly="true">
						</div>
					</div>
					
					<!-- --------------  password ---------------- -->
					<div class="form-group">
						<label for="inputPassword" class="col-md-2 control-label">New Password</label>
						<div class="col-md-10">
							<input class="form-control" id="password" type="password" name="password">
						</div>
					</div>
					
					<!-- --------------  password1 ---------------- -->
					<div class="form-group">
						<label for="inputPassword1" class="col-md-2 control-label">Confirm New Password</label>
						<div class="col-md-10">
							<input class="form-control" id="password1" type="password" name="password1">
						</div>
					</div>
	
					<!-- --------------  first Name ---------------- -->
					<div class="form-group">
						<label for="inputFirstName" class="col-md-2 control-label">First Name
						</label>
						<div class="col-md-10">
							<input class="form-control" id="firstName" type="text" name="firstName" th:value="${user.firstName}">
						</div>
					</div>
					<!-- --------------  last Name ---------------- -->
					<div class="form-group">
						<label for="inputLastName" class="col-md-2 control-label">Last Name</label>
						<div class="col-md-10">
							<input class="form-control" id="lastName" type="text" name="lastName" th:value="${user.lastName}">
						</div>
					</div>
					
					<!-- --------------  profilePicture ---------------- -->
					<div class="form-group">
						<label for="inputProfilePicture" class="col-md-2 control-label">Profile Picture</label>
							<div class="col-md-10">
						
								<select name="profilePicture" id="profilePicture" class="form-control">
										  <option value="0" th:text="None"></option>
										  <option value="1" th:text="Pikachu" th:selected="${user.picture != null && user.picture.id == 1}"></option>
										  <option value="2" th:text="Bulbasaur" th:selected="${user.picture != null && user.picture.id == 2}"></option>
										  <option value="3" th:text="Charmander" th:selected="${user.picture != null && user.picture.id == 3}"></option>
										  <option value="4" th:text="Squirtle" th:selected="${user.picture != null && user.picture.id == 4}"></option>
								</select>
							</div>
					</div>
					
					<!-- --------------  buttons ---------------- -->
					<div class="form-group">
						<div class="col-md-10 col-md-offset-2">
							<button type="submit" class="btn btn-success">Submit</button>
							<a href="profile" class="btn btn-default">
								Cancel
							</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	
		<div class="col-md-3">
			<form class="form-horizontal" enctype="multipart/form-data" method="post" th:action="@{/upload(${_csrf.parameterName}=${_csrf.token})}"> 
				
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>	
				
				<fieldset>
					<legend th:text="'Upload your picture here'"></legend>

					<div class="form-group picture">
						<label for="inputFile" class="col-md-2 control-label">File:</label>
						<div class="col-md-10">
							<input class="form-control" id="inputFile" type="file" name="myFile">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-10 col-md-offset-2">
							<button type="submit" class="btn btn-success">Upload</button>
						</div>
					</div>
					
				</fieldset>
			</form>
		</div>
	</div>
</div>
<!-- ---------------------------------------------------------------Footer ----------------------------------------------------------------------------------- -->
 	
<div class="footer">
	<div class="row">
	<div class="col-md-12 foot">
		<b class="copyRightText"> Copyright &copy; 2018 Pok&eacute;Forum</b>
		<img class="icon" src="images/glumanda.png">
	</div>
	</div>
</div>
<!--  End of container -->
<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>