<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>PokèForum - Edit Species</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

<style>
.header {
	display:block;
	text-align:center;
	margin-bottom: 40px;
}

.icon {
	float: right;
	display: inline-block;
	margin-top: -26px;
	margin-right: 20px;
	
}

.copyRightText {
	font-size: 16px;
	color: white;
	display: inline-block;
	margin-left: 38%;
	margin-top: 9px;
}

.foot {
	background-color: #47596C;
	height: 40px;
}

.tableDesign {
	background: rgba(255,255,255,0.3);
	border: 0px solid #fff;
	border-radius: 10px;
	-webkit-box-shadow: 1px 2px 26px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 26px -5px rgba(0,0,0,0.75);
	-box-shadow:1px 2px 26px -5px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 40px;
}

</style>
</head>
<body>
<body>
<!-- --------------------------------------------------------------- Menu section ----------------------------------------------------------------------------------- -->
<div class="container">
	<div class="row">
		<div class="col-md-1">
			<nav th:replace="~{includes/sidebar}"></nav>
		</div>
	</div>

<!-- -------------------------------------------------------------- Header section ----------------------------------------------------------------------------------- -->
	<div class="row">
		<div class="col-md-12 header">

				<a href="index"><img src="images/PokeForumLogo.png"></a>

			<!--  Error message ----------------------------------------------------------- -->
			<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
				class="alert alert-danger" role="alert"></div>
			<!--  Error message ----------------------------------------------------------- -->
	
			<!--  Warning message ----------------------------------------------------------- -->
			<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
				class="alert alert-warning" role="warning"></div>
			<!--  Warning message ----------------------------------------------------------- -->
	
			<!--   message ----------------------------------------------------------- -->
			<div th:unless="${message} == null" th:utext="${message}"
				class="alert alert-success" role="warning"></div>
			<!--   message ----------------------------------------------------------- -->
		</div>
	</div>
</div>		

<!-- ---------------------------------------------- Main Content: edit a already existing attack or add a new attack ----------------------------------------------------------------------------------- -->
<div class="container col-md-8 col-md-offset-2 swoopDown tableDesign">
<!-- -------------------------------------Form for editing or adding a pokemon ----------------------------------------------------------------------------------- -->

	<form class="form-horizontal" method="post" th:action="${attack} ? @{/editAttack(id=${attack.id})} : @{/addAttack}">
					
		<fieldset>
			<legend th:text="${attack}? 'Change Attack' : 'New Attack'">New Attack</legend>
			
			<!-- -------------- display the name of the attack or add a name for the attack ---------------- -->
			<div class="form-group">
				<label for="inputName" class="col-md-2 control-label">Name</label>
					<div class="col-md-10">
						
					<input class="form-control" id="inputName" type="text" 
							name="name" th:value="${attack} ? ${attack.name}" maxlength="15" required>
					</div>
			</div>
			<!-- --------------  display the type of the attack or add a type for the attack (choose from a dropdown list) ---------------- -->
			<div class="form-group">
				<label for="inputType" class="col-md-2 control-label">Type</label>
					<div class="col-md-10">
						
						<select name="type" id="type" class="form-control">
								  <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}" th:selected="${attack != null && type.name.equals(attack.type.name)}"></option>
						</select>
					</div>
					
			</div>
			
			<!-- --------------  display the category of the attack or add a category for the attack (choose from a dropdown list) ---------------- -->
			<div class="form-group">
				<label for="inputCategory" class="col-md-2 control-label">Category</label>
					<div class="col-md-10">
						
						<select name="category" id="type" class="form-control">
								  <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${attack != null && category.name.equals(attack.category.name)}"></option>
						</select>
						
					
					</div>
			</div>
			<!-- -------------- display the powerPoints of the attack or add a powerPoints for the attack  ---------------- -->
			<div class="form-group">
				<label for="inputBaseHealthPoints" class="col-md-2 control-label">PowerPoints</label>
					<div class="col-md-10">
						
					<input class="form-control" id="inputPowerPoints" type="number" 
							name="powerPoints" th:value="${attack} ? ${attack.powerPoints}" min="0" required>
					</div>
			</div>
			<!-- -------------- display the basePower of the attack or add a basePower for the attack  ---------------- -->
			<div class="form-group">
				<label for="inputBasePower" class="col-md-2 control-label">BasePower</label>
					<div class="col-md-10">
						
					<input class="form-control" id="inputBasePower" type="number" 
							name="basePower" th:value="${attack} ? ${attack.basePower}" min="0" required>
					</div>
			</div>
			<!-- -------------- display the accuracy of the attack or add a accuracy for the attack   ---------------- -->
			<div class="form-group">
				<label for="inputAccuracy" class="col-md-2 control-label">Accuracy</label>
					<div class="col-md-10">
						
					<input class="form-control" id="accuracy" type="number" 
							name="accuracy" th:value="${attack} ? ${attack.accuracy}" min="0" required>
					</div>
			</div>
			<!-- --------------  display the battleEffect of the attack or add a battleEffect for the attack  ---------------- -->
			<div class="form-group">
				<label for="inputBattleEffect" class="col-md-2 control-label">BattleEffect</label>
					<div class="col-md-10">
						
					<input class="form-control" id="battleEffect" type="text" 
							name="battleEffect" th:value="${attack} ? ${attack.battleEffect}" maxlength="40" required>
					</div>
			</div>
			
			
			<!-- -------------- submit and cancel buttons ---------------- -->
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<button type="submit" class="btn btn-success">Submit</button>
						<a href="attacks" class="btn btn-default"> Cancel </a>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<!-- ---------------------------------------------------------------Footer ----------------------------------------------------------------------------------- -->	
<footer class="footer">
	<div class="row">
		<div class="col-md-12 foot">
			<b class="copyRightText"> Copyright &copy; 2018 PokéForum</b>
			<img class="icon" src="images/glumanda.png">
		</div>
	</div>
</footer>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>