<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />

<title>PokéForum - Edit Team Member</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

<style>
.header {
	margin-top: 30px;
	margin-bottom: -20px;
}

.icon {
	float: right;
	display: inline-block;
	margin-top: -26px;
	margin-right: 20px;
	
}

.copyRightText {
	font-size: 16px;
	color: white;
	display: inline-block;
	margin-left: 38%;
	margin-top: 9px;
}

.foot {
	margin-top: 290px;
	background-color: #47596C;
	height: 40px;
}

</style>
</head>



<style>

.swoopDown {
	margin-top: 50px;
}

.header {
	margin-top: 20px;
	margin-bottom: -20px;
}

</style>
</head>
<body>
	
<div class="container" role="main">
	<div class="row">
		<div class="col-md-11 col-md-offset-2 header">

				<a href="index"><img src="images/PokeForumLogo.png"></a>

			<!--  Error message ----------------------------------------------------------- -->
			<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
				class="alert alert-danger" role="alert"></div>
			<!--  Error message ----------------------------------------------------------- -->
	
			<!--  Warning message ----------------------------------------------------------- -->
			<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
				class="alert alert-warning" role="warning"></div>
			<!--  Warning message ----------------------------------------------------------- -->
	
			<!--   message ----------------------------------------------------------- -->
			<div th:unless="${message} == null" th:utext="${message}"
				class="alert alert-success" role="warning"></div>
			<!--   message ----------------------------------------------------------- -->
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-2 swoopDown">
		<form class="form-horizontal" method="post"
				th:action="${pokemon} ? @{/editPokemon(id=${pokemon.id})} : @{/addPokemon}">
					
		<fieldset>
			<legend th:text="${pokemon}? 'Change Pokemon' : 'New Pokemon'">New Pokemon</legend>
			
			<!-- --------------  Name ---------------- -->
			<div class="form-group">
				<label for="inputName" class="col-md-2 control-label">Nickname</label>
					<div class="col-md-10">
						
					<input class="form-control" id="inputName" type="text" 
							name="name" th:value="${pokemon} ? ${pokemon.name}" maxlength="15">
					</div>
			</div>
			<!-- --------------  Species ---------------- -->
			<div class="form-group">
				<label for="inputSpecies" class="col-md-2 control-label">Species</label>
					<div class="col-md-10">
						
						<select name="species" id="species" class="form-control">
								  <option th:each="oneSpecies : ${specieses}" th:value="${oneSpecies.name}" th:text="${oneSpecies.name}" th:selected="${pokemon != null && pokemon.species.equals(oneSpecies.name)}"></option>
						</select>
					</div>
			</div>
			<!-- --------------  Level ---------------- -->
			<div class="form-group">
				<label for="inputLevel" class="col-md-2 control-label">Level</label>
					<div class="col-md-10">
						
					<input class="form-control" id="inputLevel" type="number" 
							name="level" th:value="${pokemon} ? ${pokemon.level}" min="1" max="100">
					</div>
			</div>
			<!-- --------------  Attack1 ---------------- -->
			<div class="form-group">
				<label for="inputAttack1" class="col-md-2 control-label">Attack1</label>
					<div class="col-md-10">
						
					<select name="attack1" id="attack1" class="form-control">
								  <option th:each="attack : ${attacks}" th:value="${attack.name}" th:text="${attack.name}" th:selected="${pokemon != null && (pokemon.attacks.size() > 0 && pokemon.attacks.get(0).name.equals(attack.name))}"></option>
								</select>
					</div>
			</div>
			<!-- --------------  Attack2 ---------------- -->
			<div class="form-group">
				<label for="inputAttack2" class="col-md-2 control-label">Attack2</label>
					<div class="col-md-10">
						
					<select name="attack2" id="attack2" class="form-control">
								  <option th:each="attack : ${attacks}" th:value="${attack.name}" th:text="${attack.name}" th:selected="${pokemon != null && pokemon.attacks.size() > 1 && pokemon.attacks.get(1).name == attack.name}"></option>
								</select>
					</div>
			</div>
			<!-- --------------  Attack3 ---------------- -->
			<div class="form-group">
				<label for="inputAttack3" class="col-md-2 control-label">Attack3</label>
					<div class="col-md-10">
						
					<select name="attack3" id="attack3" class="form-control">
								  <option th:each="attack : ${attacks}" th:value="${attack.name}" th:text="${attack.name}" th:selected="${pokemon != null && pokemon.attacks.size() > 2 && pokemon.attacks.get(2).name == attack.name}"></option>
								</select>
					</div>
			</div>
			<!-- --------------  Attack4 ---------------- -->
			<div class="form-group">
				<label for="inputAttack4" class="col-md-2 control-label">Attack4</label>
					<div class="col-md-10">
						
					<select name="attack4" id="attack4" class="form-control">
								  <option th:each="attack : ${attacks}" th:value="${attack.name}" th:text="${attack.name}" th:selected="${pokemon != null && pokemon.attacks.size() > 3 && pokemon.attacks.get(3).name == attack.name}"></option>
								</select>
					</div>
			</div>
			<!-- --------------  Gender ---------------- -->
			<div class="form-group">
				<label for="inputGender" class="col-md-2 control-label">Gender</label>
					<div class="col-md-10">
						
					<select name="gender" id="gender" class="form-control">
								  <option th:selected="${pokemon.gender.equals('none')}" value="none">None</option>
								  <option th:selected="${pokemon.gender.equals('male')}" value="male">Male</option>
								  <option th:selected="${pokemon.gender.equals('female')}" value="female">Female</option>
								</select>
					</div>
			</div>
			<!-- --------------  Shiny ---------------- -->
			<div class="form-group">
				<label for="inputShiny" class="col-md-2 control-label">Shiny</label>
					<div class="col-md-10">
						
					<select name="shiny" id="shiny" class="form-control">
								  <option value="no">No</option>
								  <option th:selected="pokemon.shiny" value="yes">Yes</option>
								</select>		
					</div>
			</div>

			<!-- --------------  buttons ---------------- -->
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<button type="submit" class="btn btn-primary">Submit</button>
						<a href="profile" class="btn btn-default"> Cancel </a>
				</div>
			</div>
		</fieldset>
		</form>
	</div>

	
	<!-- ---------------------------------------------------------------Footer ----------------------------------------------------------------------------------- -->	
<footer class="footer">
	<div class="row">
		<div class="col-md-12 foot">
			<b class="copyRightText"> Copyright &copy; 2018 PokéForum</b>
			<img class="icon" src="images/glumanda.png">
		</div>
	</div>
</footer>
</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>