<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>PokéForum - Homepage</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
<!-- Bootstrap CSS CDN -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Our Custom CSS -->
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="includes/table.css">
<style>

.signOutButton {
	float: right;
	margin-top: 5px;
	font-size: 20px;
	height: 30px;
	width: 80px;
}

.newTopicButton {
	margin-top: 10px;
}

.header {
	margin-top: 30px;
	margin-bottom: -20px;
}

.title {
	font-size: 40px;
	margin-bottom: 20px;
	margin-left: 385px;
}

.icon {
	float: right;
	display: inline-block;
	margin-top: -30px;
	margin-right: 10px;
	
}

.copyRightText {
	font-size: 16px;
	color: white;
	display: inline-block;
	margin-left: 38%;
	margin-top: 9px;
}

.foot {
	margin-top: 66px;
	background-color: #47596C;
	height: 40px;
}

.swoopRight {
	margin-right: 5px;
	font-size: 16px;
}
</style>
</head>
<body>
<div class="container" role="main">
	<div class="row">
		<div class="col-md-11 col-md-offset-2 header">

				<a href="index"><img src="images/PokeForumLogo.png"></a>

			<!--  Error message ----------------------------------------------------------- -->
			<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
				class="alert alert-danger" role="alert"></div>
			<!--  Error message ----------------------------------------------------------- -->
	
			<!--  Warning message ----------------------------------------------------------- -->
			<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
				class="alert alert-warning" role="warning"></div>
			<!--  Warning message ----------------------------------------------------------- -->
	
			<!--   message ----------------------------------------------------------- -->
			<div th:unless="${message} == null" th:utext="${message}"
				class="alert alert-success" role="warning"></div>
			<!--   message ----------------------------------------------------------- -->
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1">
			<nav th:replace="~{includes/sidebar}"></nav>
		</div>
	</div>
</div>

<div class="container table">
	<div class="title">Welcome to PokéForum!</div>
		<div class="col-md-10 col-md-offset-1" >
			<form class="navbar-form navbar-right" action="searchTopics">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for..." name="searchString">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Go!</button>
				</span>
			</div>
		</form>
		
		<table data-toggle="table" class="table table-striped">
			<thead>
				<tr>
					<th>Topic name</th>
					<th><i class="fa fa-user swoopRight" style="color:#0077b3;"></i>User</th>
					<th><i class="fa fa-pencil swoopRight" style="color:#0077b3;"></i>Last edited</th>
					<th><i class="fa fa-hashtag swoopRight" style="color:#0077b3;"></i>Entries</th>				
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				
				<!--  list all items ----------------------------------------------------------- -->
				<tr th:each="topic : ${topics}">
					<td th:text="${topic.title}"></td>
					<td th:text="${topic.owner.userName}"></td>
					<td th:text="${topic.lastEdited}"></td>
					<td th:text="${topic.entries.size()}"></td>
					<td><a th:href="@{/listEntries(id=${topic.id})}" class="btn btn-xs btn-success">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							Visit
						</a>

						<a th:if="${topic.owner.id.equals(user.id)} or ${isAdmin}" th:href="@{/deleteTopic(id=${topic.id})}" class="btn btn-xs btn-danger" >
							
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
							Delete
						</a>
					</td>
					
				</tr>
				<!--  list all items ----------------------------------------------------------- -->
			</tbody>
		</table>
				
		<a sec:authorize="hasRole('USER')" href="addTopic" class="btn btn-success newTopicButton">
			New Topic
		</a>
		<form class="signOutButton" th:action="@{/logout}" method="post" >
	      	<input class="btn btn-xs btn-danger signOutButton" type="submit" value="Sign Out"/>
	   	</form>				
	</div>
</div>
<footer class="footer">
	<div class="row">
		<div class="col-md-12 foot">
			<b class="copyRightText"> Copyright &copy; 2018 PokéForum</b>
			<img class="icon" src="images/pikachu.png">
		</div>
	</div>
</footer>
<!--  End of container -->
<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html> 
