<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>PokeForum - Pokemon</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">

		<div class="page-header">
			<a href="index"><img src="images/PokeForumLogo.jpg"></a>
		</div>

		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
			class="alert alert-warning" role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<nav th:replace="~{includes/searchNav :: search}"></nav>

		<!--  1 simple button ----------------------------------------------------------- -->
		<center> <h1>List of all pokemon species</h1> </center>
		
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Spezies</th>
							<th>Typ</th>
							<th>Level</th>
							<th>HP</th>
							<th>Attack</th>
							<th>Defense</th>
							<th>SpecialAttack</th>
							<th>SpecialDefense</th>
							<th>Speed</th>
							<th>Gender</th>
							<th>Shiny</th>


						</tr>
					</thead>

					<tbody>

						<!--  list all items ----------------------------------------------------------- -->
						<tr th:each="attack : ${attacks}">
							<td th:text="${attack.name}"></td>
							<td th:text="${attack.type}"></td>
							<td th:text="${attack.category}"></td>
							<td th:text="${attack.pp}"></td>
							

						</tr>
						<!--  list all items ----------------------------------------------------------- -->
					</tbody>


				</table>

			</div>
		
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>