<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Pok&eacute;Forum - Pok&eacute;mon</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
<!-- Bootstrap CSS CDN -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Our Custom CSS -->
<link rel="stylesheet" href="css/custom.css">
<style>

.header {
	display:block;
	text-align:center;
	margin-bottom: 40px;
}

.title {
	font-size: 40px;
	margin-top: 40px; 
	margin-bottom: 40px;
	display:block;
	text-align:center;
}

.icon {
	float: right;
	display: inline-block;
	margin-top: -26px;
	margin-right: 10px;
	
}

.copyRightText {
	font-size: 16px;
	color: white;
	display: inline-block;
	margin-left: 38%;
	margin-top: 9px;
}

.foot {
	background-color: #47596C;
	height: 40px;
}

.tableDesign {
	background: rgba(255,255,255,0.3);
	border: 0px solid #fff;
	border-radius: 10px;
	-webkit-box-shadow: 1px 2px 26px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 26px -5px rgba(0,0,0,0.75);
	-box-shadow:1px 2px 26px -5px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
}
</style>

</head>
<body>
<div class="container" role="main">
	<div class="row">
		<div class="col-md-1">
			<nav th:replace="~{includes/sidebar}"></nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-11 header">

				<a href="index"><img src="images/PokeForumLogo.png"></a>

			<!--  Error message ----------------------------------------------------------- -->
			<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
				class="alert alert-danger col-md-offset-1" role="alert"></div>
			<!--  Error message ----------------------------------------------------------- -->
	
			<!--  Warning message ----------------------------------------------------------- -->
			<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
				class="alert alert-warning col-md-offset-1" role="warning"></div>
			<!--  Warning message ----------------------------------------------------------- -->
	
			<!--   message ----------------------------------------------------------- -->
			<div th:unless="${message} == null" th:utext="${message}"
				class="alert alert-success col-md-offset-1" role="warning"></div>
			<!--   message ----------------------------------------------------------- -->
		</div>
	</div>
</div>

	
<div class="container tableDesign">
<div class="title"> List of all Pok&eacute;mon </div>
		<div class="col-md-12">
			<div class="container-fluid navbar navbar-default">
			
				<a sec:authorize="hasRole('ADMIN')" href="addSpecies" class="btn btn-success navbar-btn">
					New Species
				</a>
				
				<form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
		      		<input class="btn btn-danger" type="submit" value="Sign Out"/>
		   		</form>
		   		
				<form class="navbar-form navbar-right" action="searchSpecies">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for..." name="searchString">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Go!</button>
						</span>
					</div>
				</form>	
			</div>
		
		<table data-toggle="table" class="table table-striped">
		
			<thead>
				<tr>
					<th data-sortable="true">Name</th>
					<th data-sortable="true">Type 1</th>
					<th data-sortable="true">Type 2</th>
					<th data-sortable="true">HP</th>
					<th data-sortable="true">Attack</th>
					<th data-sortable="true">Defense</th>
					<th data-sortable="true">SpecialAttack</th>
					<th data-sortable="true">SpecialDefense</th>
					<th data-sortable="true">Speed</th>
					<th>More Infos</th>	
					<th sec:authorize="hasRole('ADMIN')">Action</th>
				</tr>
			</thead>

			<tbody>
				<!--  list all items ----------------------------------------------------------- -->
				<tr th:each="species : ${pokemons}">	
					<td th:text="${species.name}">NAME</td>
					<td th:text="${species.types.get(0).name}">TYPE1</td>
					<td th:text="${species.types.size() > 1 ? species.types.get(1).name : '------' }">TYPE2</td>
					<td th:text="${species.baseHealthPoints}">HP</td>
					<td th:text="${species.baseAttack}">ATK</td>
					<td th:text="${species.baseDefense}">DEF</td>
					<td th:text="${species.baseSpecialAttack}">SPATK</td>
					<td th:text="${species.baseSpecialDefense}">SPDEF</td>
					<td th:text="${species.baseSpeed}">INIT</td>
					<td> <a th:href="'http://pokemon.wikia.com/wiki/'+${species.name}" target="_blank" class="btn btn-success">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
					</td>
					<td sec:authorize="hasRole('ADMIN')">
						<a th:href="@{/editSpecies(id=${species.id})}" class="btn btn-success">Edit</a>
						<a th:href="@{/deleteSpecies(id=${species.id})}" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
					</td>
				</tr>
				<!--  list all items ----------------------------------------------------------- -->
			
			</tbody>
		</table>
	</div>
</div>

<!-- ---------------------------------------------------------------Footer ----------------------------------------------------------------------------------- -->
	
<footer class="footer">
	<div class="row">
		<div class="col-md-12 foot">
			<b class="copyRightText"> Copyright &copy; 2018 Pok&eacute;Forum</b>
			<img class="icon" src="images/schiggy.png">
		</div>
	</div>
</footer>

<!--  End of container -->
<div th:replace="~{includes/bootstrap :: bootstrapJS}" />	
</body>
</html>