<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>PokèForum - User Profile</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
<style>

.header {
	margin-top: 30px;
	margin-bottom: -20px;
}

.title {
	font-size: 40px;
	margin-bottom: 20px;
	margin-left: 385px;
}

.profilePicture {
	
	padding-top: 30px;
	border-style: solid;
	padding-bottom: 20px;
	height: 305px;
	background: rgba(255,255,255,0.3);
	border: 0px solid #fff;
	border-radius: 10px;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-box-shadow:-1px 4px 26px 11px rgba(0,0,0,0.75);	
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.user {
	border-style: solid;
	padding-top: 20px;
	height: 305px;
}

.button {
	display:block;
	text-align:center;
	margin-top: 28px;
	margin-bottom: 4px;
}

.team {
	border-style: solid;
}

.font {
	font-size: 20px;
	color: #0077b3;
}

.icon {
	float: right;
	display: inline-block;
	margin-top: -30px;
	
}

.copyRightText {
	font-size: 16px;
	color: white;
	display: inline-block;
	margin-left: 38%;
	margin-top: 9px;
}

.foot {
	background-color: #47596C;
	height: 40px;
}
</style>
</head>
<body>
<div class="container" role="main">
	<div class="row">
		<div class="col-md-11 col-md-offset-2 header">

				<a href="index"><img src="images/PokeForumLogo.png"></a>

		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->
	</div>
</div>

	<div class="row">
		<div class="col-md-1">
			<nav th:replace="~{includes/sidebar}"></nav>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">

<!-- ----------------------------------- Profile Picture --------------------------------------------------------- -->

		<div class="col-md-3 col-md-offset-1 profilePicture">
			<img src="images/images.jpeg" class="img-circle center" height="183" width="183" alt="Avatar">
			<span class="button"><a th:if="${user.id.equals(id)}" href="editUser" class="btn btn-success">
				Edit Profile
			</a> </span>
		</div>
		
<!-- ----------------------------------- User Information--------------------------------------------------------- -->

		<div class="col-md-7 user">
			<strong class="font"> User Information</strong><br>
			<p></p>
            <div class="table-responsive">
            <table class="table table-condensed table-responsive table-user-information">
                <tbody>
                    <tr>    
                        <td>
                            <strong>
                                <i class="fa fa-user" style="color:#0077b3;" ></i>    
                                Username                                                
                            </strong>
                        </td>
                        <td th:text="${user.userName}" class="text-primary"></td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <i class="fa fa-address-card" style="color:#0077b3;"></i>  
                                First Name                                                
                            </strong>
                        </td>
                        <td th:text="${user.firstName != null ? user.firstName : 'no first name yet'}" class="text-primary"></td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <i class="fa fa-address-card" style="color:#0077b3;"></i> 
                                Last Name                                                
                            </strong>
                        </td>
                        <td th:text="${user.lastName != null ? user.lastName : 'no last name yet'}" class="text-primary"></td>
                    </tr>
					<tr>        
                        <td>
                            <strong>
                                <i class="fa fa-calendar" style="color:#0077b3;"></i>
                                Date of Entry                                                
                            </strong>
                        </td>
                        <td th:text="${#dates.format(user.dateOfEntry,'dd.MM.yyyy')}" class="text-primary"></td>
                    </tr>
					<tr>        
                        <td>
                            <strong>
                                <i class="fa fa-hashtag" style="color:#0077b3;"></i>
                                Topics                                                
                            </strong>
                        </td>
                        <td th:text="${user.topics.size()}" class="text-primary"></td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <i class="fa fa-hashtag" style="color:#0077b3;"></i> 
                                Entries                                                
                            </strong>
                        </td>
                        <td th:text="${user.entries.size()}" class="text-primary"></td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <i class="fa fa-eye" style="color:#0077b3;"></i> 
                                Role                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            MATHIAS schreib die Rolle eini --> beim td rein
                        </td>
                    </tr>                           
                </tbody>
            </table>
            </div>
		</div>
	</div>

 <div class="row">
 	<div class="col-md-10 col-md-offset-1 team">
				<table data-toggle="table" class="table table-striped">
					
					<thead>
						<tr>
							<th>Name</th>
							<th>Species</th>
							<th>Type1</th>
							<th>Type2</th>
							<th>Level</th>
							<th>Attack1</th>
							<th>Attack2</th>
							<th>Attack3</th>
							<th>Attack4</th>
							<th>Gender</th>
							<th>Shiny</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>

						<!--  list all items ----------------------------------------------------------- -->
							
							<tr th:each="pokemon : ${pokemons}">	
							<td th:text="${pokemon.name == '' ? pokemon.species : pokemon.name}">NAME</td>
							<td th:text="${pokemon.species}">SPECIES</td>
							<td th:text="${pokemon.types.get(0).name}">TYPE1</td>
							<td th:text="${pokemon.types.size() > 1 ? pokemon.types.get(1).name : '------' }">TYPE2</td>
							<td th:text="${pokemon.level}">LEVEL</td>
							<td th:text="${pokemon.attacks.get(0).name}">ATTACK1</td>
							<td th:text="${pokemon.attacks.size() > 1 ? pokemon.attacks.get(1).name : '------' }">ATTACK2</td>
							<td th:text="${pokemon.attacks.size() > 2 ? pokemon.attacks.get(2).name : '------' }">ATTACK3</td>
							<td th:text="${pokemon.attacks.size() > 3 ? pokemon.attacks.get(3).name : '------' }">ATTACK4</td>
							<td th:text="${pokemon.gender}">GENDER</td>
							<td th:text="${pokemon.shiny ? 'Shiny' : '------'}">SHINY</td>
							<td>
								<a th:if="${user.id.equals(id)}" th:href="@{/editPokemon(id=${pokemon.id})}" class="btn btn-success">
									Edit
								</a>
								<a th:if="${user.id.equals(id)}" th:href="@{/deletePokemon(id=${pokemon.id})}" class="btn btn-danger">
									Delete
								</a>
							</td>
						</tr>
						
						<!--  list all items ----------------------------------------------------------- -->
					</tbody>
				</table>

			</div> 		
 	</div>


 	<a th:if="${user.id.equals(id)}" href="addPokemon" class="btn btn-success">
		New Pokemon
	</a>
 


<!-- ---------------------------------------------------------------Footer ----------------------------------------------------------------------------------- -->
	
<footer class="footer">
	<div class="row">
		<div class="col-md-12 foot">
			<b class="copyRightText"> Copyright &copy; 2018 PokéForum</b>
			<img class="icon" src="images/pikachu.png">
		</div>
	</div>
</footer>
<!--  End of container -->
<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
	
</body>
</html>