<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Pok&eacute;Forum - User Profile</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
<style>

.header {
	display:block;
	text-align:center;
	margin-bottom: 40px;
}

.title {
	font-size: 40px;
	margin-bottom: 40px;
	display:block;
	text-align:center;
}

.profilePicture {
	
	padding-top: 30px;
	padding-bottom: 20px;
	height: 305px;
		
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.user {
	padding-top: 20px;
	height: 305px;
	
}

.button {
	display:block;
	text-align:center;
	margin-top: 28px;
	margin-bottom: 4px;
}

.team {
}

.font {
	font-size: 20px;
	color: #0077b3;
}

.icon {
	float: right;
	display: inline-block;
	margin-top: -30px;
	margin-right: 10px;
	
}

.copyRightText {
	font-size: 16px;
	color: white;
	display: inline-block;
	margin-left: 38%;
	margin-top: 9px;
}

.foot {
	background-color: #47596C;
	height: 40px;
}

.profileUser {
	background: rgba(255,255,255,0.3);
	border: 0px solid #fff;
	border-radius: 10px;
	-webkit-box-shadow: 1px 2px 26px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 26px 0px rgba(0,0,0,0.75);
	-box-shadow:1px 2px 26px 0px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	margin-top: 20px;
}

.containerButtons {
	margin-top: 5px;
	margin-bottom: 20px;
}

</style>
</head>
<body>
<div class="container" role="main">
	<div class="row">
		<div class="col-md-1">
			<nav th:replace="~{includes/sidebar}"></nav>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-11 header">

				<a href="index"><img src="images/PokeForumLogo.png"></a>

			<!--  Error message ----------------------------------------------------------- -->
			<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
				class="alert alert-danger col-md-offset-1" role="alert"></div>
			<!--  Error message ----------------------------------------------------------- -->
	
			<!--  Warning message ----------------------------------------------------------- -->
			<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
				class="alert alert-warning col-md-offset-1" role="warning"></div>
			<!--  Warning message ----------------------------------------------------------- -->
	
			<!--   message ----------------------------------------------------------- -->
			<div th:unless="${message} == null" th:utext="${message}"
				class="alert alert-success col-md-offset-1" role="warning"></div>
			<!--   message ----------------------------------------------------------- -->
		</div>
	</div>
</div>

<div class="container profileUser">

	<div class="row">

<!-- ----------------------------------- Profile Picture --------------------------------------------------------- -->

		<div class="col-md-3 col-md-offset-1 profilePicture">
			<img th:if="${image} == null" src="images/images.jpeg" class="img-circle center" height="183" width="183" alt="Avatar">
			<img th:unless="${image} == null" th:src="${image}" class="img-circle center" height="183" width="183" alt="Avatar">
			<span class="button"><a th:if="${user.id.equals(id)}" href="editUser" class="btn btn-success">
				Edit Profile
			</a> </span>
		</div>
		
<!-- ----------------------------------- User Information--------------------------------------------------------- -->

		<div class="col-md-7 user">
			<strong th:text="${profileHeader}" class="font">Your User Information</strong><br>
			<p></p>
            <div class="table-responsive">
            <table class="table table-condensed table-responsive table-user-information">
                <tbody>
                    <tr>    
                        <td>
                            <strong>
                                <i class="fa fa-user" style="color:#0077b3;" ></i>    
                                Username                                                
                            </strong>
                        </td>
                        <td th:text="${user.userName}" class="text-primary"></td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <i class="fa fa-address-card" style="color:#0077b3;"></i>  
                                First Name                                                
                            </strong>
                        </td>
                        <td th:text="${user.firstName != null ? user.firstName : 'no first name yet'}" class="text-primary"></td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <i class="fa fa-address-card" style="color:#0077b3;"></i> 
                                Last Name                                                
                            </strong>
                        </td>
                        <td th:text="${user.lastName != null ? user.lastName : 'no last name yet'}" class="text-primary"></td>
                    </tr>
					<tr>        
                        <td>
                            <strong>
                                <i class="fa fa-calendar" style="color:#0077b3;"></i>
                                Date of Entry                                                
                            </strong>
                        </td>
                        <td th:text="${#dates.format(user.dateOfEntry,'dd.MM.yyyy')}" class="text-primary"></td>
                    </tr>
					<tr>        
                        <td>
                            <strong>
                                <i class="fa fa-hashtag" style="color:#0077b3;"></i>
                                Topics                                                
                            </strong>
                        </td>
                        <td th:text="${user.topics.size()}" class="text-primary"></td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <i class="fa fa-hashtag" style="color:#0077b3;"></i> 
                                Entries                                                
                            </strong>
                        </td>
                        <td th:text="${user.entries.size()}" class="text-primary"></td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <i class="fa fa-eye" style="color:#0077b3;"></i> 
                                Role                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            MATHIAS schreib die Rolle eini --> beim td rein
                        </td>
                    </tr>                           
                </tbody>
            </table>
            </div>
		</div>
	</div>

 <div class="row">
 	<div class="col-md-12 team">
 		<strong th:text="${teamHeader}" class="font">Your Team</strong><br>

				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th data-sortable="true">Name</th>
							<th data-sortable="true">Species</th>
							<th data-sortable="true">Type1</th>
							<th data-sortable="true">Type2</th>
							<th data-sortable="true">Level</th>
							<th data-sortable="true">Attack1</th>
							<th data-sortable="true">Attack2</th>
							<th data-sortable="true">Attack3</th>
							<th data-sortable="true">Attack4</th>
							<th data-sortable="true">Gender</th>
							<th data-sortable="true">Shiny</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>

						<!--  list all items ----------------------------------------------------------- -->
							
							<tr th:each="pokemon : ${pokemons}">	
							<td th:text="${pokemon.name == '' ? pokemon.species : pokemon.name}">NAME</td>
							<td th:text="${pokemon.species}">SPECIES</td>
							<td th:text="${pokemon.types.get(0).name}">TYPE1</td>
							<td th:text="${pokemon.types.size() > 1 ? pokemon.types.get(1).name : '------' }">TYPE2</td>
							<td th:text="${pokemon.level}">LEVEL</td>
							<td th:text="${pokemon.attacks.get(0).name}">ATTACK1</td>
							<td th:text="${pokemon.attacks.size() > 1 ? pokemon.attacks.get(1).name : '------' }">ATTACK2</td>
							<td th:text="${pokemon.attacks.size() > 2 ? pokemon.attacks.get(2).name : '------' }">ATTACK3</td>
							<td th:text="${pokemon.attacks.size() > 3 ? pokemon.attacks.get(3).name : '------' }">ATTACK4</td>
							<td th:text="${pokemon.gender}">GENDER</td>
							<td th:text="${pokemon.shiny ? 'Shiny' : '------'}">SHINY</td>
							<td>
								<a th:if="${user.id.equals(id)}" th:href="@{/editPokemon(id=${pokemon.id})}" class="btn btn-success">
									Edit
								</a>
								<a th:if="${user.id.equals(id)}" th:href="@{/deletePokemon(id=${pokemon.id})}" class="btn btn-danger">
									Delete
								</a>
							</td>
						</tr>
						
						<!--  list all items ----------------------------------------------------------- -->
					</tbody>
				</table>
		</div>
		 
		<div class="col-md-10 col-md-offset-1 containerButtons">
		 		<a th:if="${user.id.equals(id)}" href="addPokemon" class="btn btn-success navbar-btn ">
					New Pok&eacute;mon
				</a>
				
				<form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
				      		<input class="btn btn-danger" type="submit" value="Sign Out"/>
				</form>
	 		</div>	
	</div>
</div>

<!-- ---------------------------------------------------------------Footer ----------------------------------------------------------------------------------- -->
	
<footer class="footer">
	<div class="row">
		<div class="col-md-12 foot">
			<b class="copyRightText"> Copyright &copy; 2018 Pok&eacute;Forum</b>
			<img class="icon" src="images/pikachu.png">
		</div>
	</div>
</footer>
<!--  End of container -->
<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
	
</body>
</html>